{% extends 'base.html' %}
{% block title %}Owner{% endblock title %}
{% block body %}
<script src=
    "https://smtpjs.com/v3/smtp.js">
    
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="container">
    <a href="#" class="navbar-brand d-flex align-items-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
      <strong>Album</strong>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>
<main>
    <div class="container my-3" >
        <h1 class="my-5"> Select owner for your journey from Vadodara</h1>
    
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for n in ownerData %}
          {% if n.location == "Vadodara" %}
           <div class="col">
            <div class="card shadow-sm car-data">
              <img src="{{n.image.url}}" class="d-block w-100" alt="..." width="100%" height="225" role="img" <rect width="100%" height="100%" fill="#55595c"/></img>
              <div class="card-body ">
                <p class="card-text">Name of owner : {{n.name}}</p>
                <p class="card-text">Email address of owner : {{n.email}}</p>
                <p class="card-text">Car model : {{n.carname}}</p>
                {% comment %} <p class="card-text">Number of seats available : {{n.seats}}</p> {% endcomment %}
                <p class="card-text">Phone number : {{n.phone}}</p>
                <small class="text-muted">Date and time : {{n.date_time}}</small><br><br>
                <div class="d-flex justify-content-between align-items-center">
                 <div class="btn-group">
                  <p class="card-text">Number of seats available :</p>
                  <input type="card-text" name="seats" style="width: 35px; height: 30px; border-radius:10px; background-color: grey; color: cyan" value="  {{n.seats}}">
                    {% comment %} <button type="submit" class="btn btn-sm btn-outline-secondary Select1">Select</button> {% endcomment %}
                    <form action="{% url 'add_vehicle' %}">
                      <input type="hidden" name="traveller_name" value={{request.user}}>
                      <input type="hidden" name="owner_name" value={{n.name}}>
                      <input type="hidden" name="email" value={{n.email}}>
                      <input type="hidden" name="location" value={{n.location}}>
                      <input type="hidden" name="phone" value={{n.phone}}>
                      <input type="hidden" name="date_time" value={{n.date_time}}>
                      <input type="hidden" name="image" value={{n.image}}>
                      <span id="decrement{{n.seats}}" class="decrement" >
                        <button type="submit" style="height: 35px; width:150px; border-radius: 20px; margin-left:50px; background-color: cyan; color: grey;" pid="{{n.seats}}" id="minus{{n.seats}}" onclick = minus1()>Select vehicle</button>
                    </span>
                    </form>
                    {% comment %} <a href="{% url 'add_vehicle' %}" class="btn btn-primary shadow px-5 py-2">Select vehicle</a> {% endcomment %}
                    
                    {% comment %} <script type="text/javascript">
                      function sendEmail() {
                        Email.send({
                          Host: "smtp.gmail.com",
                          Username: "info.vss163@gmail.com",
                          Password: "armgzwcjfbtcyaxd",
                          To: "21cs053@charusat.edu.in",
                          From: "info.vss1631@gmail.com",
                          Subject: "Sending Email using javascript",
                          Body: "Well that was easy!!",
                        })
                          .then(function (message) {
                            alert("mail sent successfully")
                          });
                      }
                    </script> {% endcomment %}
                    

                    
                  </div> 
                  {% comment %} <small class="text-muted">{{n.date_time}}</small> {% endcomment %}
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        {% comment %} Owner was registered Successfully !


    {% elseif %}
    <form action="" method="POST">
        {%csrf_token%}
        {{form.as_p}}
        <button type="button" class="btn btn-primary">Submit</button>
    </form> {% endcomment %}
<script>
  {% comment %} $('.decrement').on("click","button.minus",function(){
    console.log("minus clicked");
     a=this.id.slice(5,);
    console.log(a); {% endcomment %}
    
   

  {% comment %} }); {% endcomment %}
  void minus1(){
    var x = document.getElementByName("seats");
    x = x-1;
    document.getElementByName("seats").innerText = x;
  }
</script>
    
</center>
{% endblock body %}